@model Blog.Infrastructure.DTO.CreatePostDto

<p>Create New Post</p>

<form asp-action="AddPost" asp-controller="Post" method="post" enctype="multipart/form-data">
    <label asp-for="Title">Post Title</label>
    <input asp-for="Title" placeholder="Choose post title" />

    <label asp-for="Content">Post Content</label>
    <input asp-for="Content" placeholder="Write something interesting" />

    <label asp-for="IsActive">Is that post active?</label>
    <input type="checkbox" asp-for="IsActive" checked />

    <button type="submit">Create Post</button>
</form>