@model Blog.Infrastructure.DTO.CreatePostDto
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <section>
        <h1>@ViewData["Title"]</h1>
        <form asp-action="AddPost" asp-controller="Post" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title">Post Title</label>
                <input asp-for="Title" placeholder="Choose post title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Content">Post Content</label>
                <input asp-for="Content" placeholder="Write something interesting" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IsActive">Is that post active?</label>
                <input type="checkbox" asp-for="IsActive" checked />
            </div>
            <button class="btn-form" type="submit">Create Post</button>
        </form>
    </section>
</div>