@model Blog.Infrastructure.DTO.PostDetailsDto

@if(@Model.IsActive == true)
{
    <div class="container">
            <h1 class="card-title">@Model.Title</h1>
            <p>@Model.Content</p>
            <br />
            <p>Created at: @Model.Created by: @Model.Author</p>
    </div>
}
