@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Blog.Infrastructure.DTO.RelatedPostDto>


<header class="picture"></header>
<div class="container">
    <section class="home-cards">

        @foreach (var post in Model)
        {
            <div class="single-card">
                <div class="card-image">
                    <img src="~/img/card1.png">
                </div>
                <h3 class="card-title"><a asp-controller="Post" asp-action="Index" asp-route-id="@post.PostId" class="title-navigator">@post.Post.Title</a></h3>
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-heart"></i>57</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-comment"></i>6</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-eye"></i>138</a>
                    </li>
                </ul>
            </div>
        }
    </section>
    <a href="#" class="load-more">LOAD MORE</a>
</div>