@model IEnumerable<Blog.Infrastructure.DTO.ProfileDto>


<header class="picture"></header>
<div class="container">
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profile in Model)
            {
                <tr>
                    <td>@profile.UserName</td>
                    <td>@profile.Created</td>
                </tr>
            }
        </tbody>
    </table>
</div>