@model IEnumerable<Blog.Infrastructure.DTO.ProfileDto>


<header class="picture"></header>
<div class="container">
        @foreach (var profile in Model)
        {
            <ul>
                <li>
                    @profile.UserName
                </li>
                <li>
                    @profile.Email
                </li>
                <li>
                    @profile.Created
                </li>
            </ul>
        }
</div>