@{
    ViewData["Title"] = "Home Page";
}

@model  IEnumerable<Blog.Infrastructure.DTO.PostDto>

<div class="text-center">
    <h1 class="display-4">Welcome to my Blog</h1>
    <p>You can read here interesting informations abour C# and .NET Core.</p>
</div>

<h2>All Posts</h2>
<table class="table table-hover">
    <tbody>
        @foreach(var post in Model)
        {
        <tr>
            <td>
                <span>Title: </span>@post.Title
            </td>
            <td>
                <span>Created: </span>@post.Created
            </td>
            <td>
                <span>Author: </span>@post.Author
            </td>
        </tr>
        }
    </tbody>
</table>
