@model Blog.Infrastructure.DTO.CreateCategoryDto
@{
    ViewData["Title"] = "Category";
}

<div class="container">
    <section>
        <h1>@ViewData["Title"]</h1>
        <form asp-action="AddCategory" asp-controller="Category" method="post" enctype="multipart/form-data">
            <h4>Create a new category.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Name">Category Name</label>
                <input asp-for="Name" placeholder="Choose category name" class="form-control" />
            </div>
            <button class="btn-form" type="submit">Create Category</button>
        </form>
    </section>
</div>