@model IEnumerable<Blog.Infrastructure.DTO.CategoryDto>
@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <h1>List of categories</h1>
    <section>
        <h4>Category name:
        </h4>
        <hr />
        @foreach (var category in Model)
        {
            <div class="category-name">
                <a asp-action="RelatedToCategory" asp-controller="Post">@category.Name</a>
                <a asp-action="Update" asp-controller="Category" asp-route-id="@category.CategoryId">Edit</a>
                <a asp-action="Remove" asp-controller="Category" asp-route-id="@category.CategoryId">Remove</a>
            </div>
        }
    </section>
</div>